{% extends "nav.html" %}

{% block content %}
  <h1 class="ui header"> FASH
    <div class="sub header">Fall. Asynchronous. Scavenger. Hunt.</div>
  </h1>
  <p>FASH is a new social event created to promote family adventures! Hang out with your family, meet new people, and WIN PRIZES! </br> </br>
  Check out <a href="/rules">rules</a> for more information and login with your MIT account to <span class="hilite">play now!</span></p>

  {{ message }}

  <h2 class="ui header">Gallery
    <div class="sub header">Mission success!</div>
  </h2>
  <div class="ui three stackable cards">
    {% for complete in completed %}
    <div class="teal card">
      <div class="image">
        <img src="{{complete.link}}">
      </div>
      <div class="content">
        <div class="header">{{complete.task.name}}</div>
      </div>
      <div class="extra content">
        <span class="left floated">
          {{complete.player.email}}
        </span>
        <span class="right floated">
          {{complete.task.value}} points
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
