{% extends "nav.html" %}

{% block content %}
  <h1 class="ui header">Leaderboard
    <div class="sub header">May the odds be ever in your favor</div>
  </h1>

  <div class="ui large feed">
    {% for f in range(fams|length) %}
      <div class="event">
        <div class="label">
          <div class="ui small statistic {% if places[f] == 1 %} teal {% endif %}">
            <div class="value">
              #{{places[f]}}
            </div>
          </div>
        </div>
        <div class="content">
          <h3 class="summary">{{fams[f]}}</h3>
          <div class="extra text"> {{fampts[fams[f]]}} points </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
