{% extends "nav.html" %}

{% block content %}
  <h1 class="ui header">Rules</h1>
  <p>
    FASH is a new social event created to promote family adventures! Hang out with your family, meet new people, and WIN PRIZES!</br> </br>

    <span class="hilite">Complete the missions to earn points! </span> In order to receive your points, submit picture proof online.</br> </br>

    Missions must be completed with 1+ other ATS members. An extra point is awarded if you bring along a new member! Starred missions must be done with at least five members of your family (including yourself) together in order to qualify.</br> </br>

    Individual prizes are awarded depending on the amount of points you get. Families compete against each other, and in the end, the family with the most points will get a prize (TBD). </br> </br>

    Go out there and get exploring!
  </p>
{% endblock %}
