{% extends "nav.html" %}

{% block content %}
  <h1 class="ui header">Rules</h1>
  <p>
    <span class="hilite">Complete missions to get prizes!</span> Everything must have proof in picture or video form to count. Prizes are awarded depending on the amount of points you get. </br> </br>

    Families compete against each other, and in the end, the family with the most points will get a prize (TBD). You have to do these items with 1+ other ATS members in order to count with an extra point/event with a new member. </br> </br>

    Starred missions must be done with at least five members of your family (including yourself) together in order to qualify

  </p>
{% endblock %}
